.antes_formulario{
    font-size: 16px;
    padding-bottom: 10px;
    color: #0e0e0e;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.contacto_formulario{
    width: 460px;
    height: auto;
    margin-left: -25px ;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
}

input{
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #febd59;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


.cont-flex {
    display: flex;
  }

  

textarea{
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #febd59;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

label{
    display: block;
    float: center;
}

button{
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #febd59;
    border-color: #febd59;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}

button p{
    color: #000000;
}

.obligatorio{
    color: #febd59;
}

.aviso{
    font-size: 15px;
    color: #0e0e0e;
}

.ocultar-div{
    display:block;
    text-align:center;
    max-width:400px;
    margin:auto;
    padding:50px;

  }

  @media screen and (min-width: 600px) {
    .ocultar-div{
      display:none;
    }
  }
  .mostrar-div{
    display:none;
    text-align:center;
    max-width:400px;
    margin:auto;
    padding:50px;

  }
  @media screen and (min-width: 600px) {
    .mostrar-div{
      display:block;
    }
  }

  .msjValidacion{
    background-color:#febd59;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    border: none;
  }