*{
margin: 0px;
padding: 0px;
}   


.tituloColor{
    background-color: gray;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;
    height:50px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
   
    
}

.tituloColorTexto{
    position: relative;
    /*padding-left: 25px;*/
    bottom: -8px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.tituloGeneralTexto{
    position: relative;
    padding-left : 700px;
    bottom: 0px;
    top: -8px;
    font-family:fantasy;
    color: black;
    font-size: 40px;
}


.textura{
    background-attachment: scroll;
    background-image: url(../img/textura.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 188px auto;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
}
.text-his{
    height: 400px;
}
.text-prod{
    height: 430px;
}

.text-car{
    height: 550px;
}

.text-suc{
    height: 380px;
}

.text-cont-prod{
    height: 260px;
}

.contenido{
    display: flex;
    background-color: white;
}

.contenido-suc{
    display: flex;
    justify-content: center;
    background-color: white;
}



.contenidoCarrusel{
    display: flex;
    background-color: white;
    justify-content: center;
}

.tituloHistoria{
    position: relative;
    padding-left : 250px;
    bottom: 0px;
    top: -8px;
    font-family:fantasy;
    color: black;
    font-size: 40px;
}

.cont-img{
    display:grid;
    align-content: center;
    border-radius: 15px;
    padding: 10px;
}

.p-historia{
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: right;
    padding-top: 25px;
}

.p-resaltado{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-style: italic;
    text-align: right;
    padding: 0px 10px 0px 10px;

}

.g{
    position: relative;
    color: grey;
    bottom: -8px;
}

.d{
    position: relative;
    color: #ffbd59;
    top:-3px
}

.p-cont{
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: right;
    padding: 5px 10px 0px 0px;
}

.p-contTitulo{
    margin-left: 15px;
    background-image: linear-gradient(105deg,  white 39%, #ffbd59 76%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: right;
    padding: 5px 10px 0px 0px;
}

.tituloColorIzq{
    background-color: gray;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;
    height:50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
   
    
}   

.tituloColorTextoIzq{
    position: relative;
    left : 50px;
    bottom: -8px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.tituloHistoriaIzq{
    position: relative;
    left : 70px;
    bottom: 0px;
    top: -8px;
    font-family:fantasy;
    color: black;
    font-size: 40px;
}

.suc-case{

    padding: 20px;
    
}

.suc-case img{
    width: 300px;
}




.suc-case-text div{

    margin-left: 15px;
    background-image: linear-gradient(105deg,  white 39%, #ffbd59 76%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: right;
    padding: 5px 10px 0px 0px;
}

.suc-case-text p{
    margin-left: 15px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: right;
    padding: 5px 10px 0px 0px;
}

.suc-case-text iframe{
    padding: 10px
}

.suc-resaltado{
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(105deg,  white 39%, #ffbd59 76%);
    font-size:large;
    text-align: right;
    padding: 5px 10px 0px 0px;
}