*{
margin: 0px;
padding: 0px;
}   


.tituloColor{
    background-color: gray;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;
    height:50px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
   
    
}

.TituloColorTexto{
    position: relative;
    padding-left: 25px;
    bottom: -8px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.textura{
    background-attachment: scroll;
    background-image: url(/img/textura.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 188px auto;
    height: 450px;
    bottom: 0;
    content: "";
    /*display: block;*/
    left: 0;
    /*position: absolute;*/
    right: 0;
}

.Contenido{
    display: flex;
    background-color: white;
}

.TituloHistoria{
    position: relative;
    padding-left : 250px;
    bottom: 0px;
    top: -8px;
    font-family:fantasy;
    color: black;
    font-size: 40px;
}

.cont-img{
    display:grid;
    align-content: center;
    border-radius: 15px;
    padding: 10px;
}

.p-historia{
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: right;
    padding-top: 25px;
}

.p-resaltado{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-style: italic;
    text-align: right;
    padding: 0px 10px 0px 10px;

}

.g{
    position: relative;
    color: grey;
    bottom: -8px;
}

.d{
    position: relative;
    color: darkgoldenrod;
    top:-3px
}

.p-cont{
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: right;
    padding: 5px 10px 0px 0px;
}

.p-contTitulo{
    margin-left: 15px;
    background-image: linear-gradient(105deg,  white 39%, darkgoldenrod 76%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: right;
    padding: 5px 10px 0px 0px;
}

.tituloColorIzq{
    background-color: gray;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;
    height:50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
   
    
}   

.TituloColorTextoIzq{
    position: relative;
    left : 50px;
    bottom: -8px;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.TituloHistoriaIzq{
    position: relative;
    left : 70px;
    bottom: 0px;
    top: -8px;
    font-family:fantasy;
    color: black;
    font-size: 40px;
}