#div {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#div p {
    text-align: center;
}

input[type="radio"] {
    display: none;
}

.label_op{
    font-size: 40px;
    display: inline-block;
    color: grey;
}

.contenido_op{
display: grid;
/* width: 50%; */
padding: 10px;
justify-content: center;
}

.comentario{
    display: flex;

}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    
}

.cont_clas{
    display: flex;

}

label:hover,
label:hover~label {
    color: #ffbd59;
}

input[type="radio"]:checked~label {
    color:#ffbd59;
}

.estrella {
    color:#ffbd59;
}


.opn-text-r{
    margin-left: 15px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 5px 10px 0px 0px;
    text-align: right;
}


.opn-text h3{
    display: grid;
    justify-content: center;
}

.opn-text p{
    display: grid;
    justify-content: center;
}
.opn-text-l{
    margin-left: 15px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 5px 10px 0px 0px;
    text-align: left;

}

.tabla{
    display: flex;
    justify-content: space-between;
}

table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td, th {
    border: #ffbd59 1px solid;
  }

.boton{
    background-color: #ffbd59;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px;


}

.botonEliminar{
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 2px;
    border-color: #ffbd59;
    padding: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color:#ffbd59;
    border-style: solid;
}

.botonVolver{
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 2px;
    border-style: solid;
    border-color: #ffbd59;
    padding: 10px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: black;


}
.boton a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-decoration: none;
    color: black;
}