.suc-case{
    padding: 20px;
}

.suc-case img{
    width: 300px;
}

.suc-case-text div{
    margin-left: 15px;
    background-image: linear-gradient(105deg,  white 39%, #ffbd59 76%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: right;
    padding: 5px 10px 0px 0px;
}

.suc-case-text p{
    margin-left: 15px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: right;
    padding: 5px 10px 0px 0px;
}

.suc-case-text iframe{
    padding: 10px
}

.mapa-link{
    text-decoration-color: black;
    margin-left: 15px;
    background-image: linear-gradient(105deg,  white 39%, #ffbd59 76%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: right;
    padding: 5px 10px 10px 0px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

.contenedor-temp{
    display: flex;
    justify-content: end;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(105deg,  white 39%, #ffbd59 76%);
}
.contenedor-temp select{
    padding:7px;
    border-color: #ffbd59;
    border-style: solid;
    border: 2px;
    margin-left: 30px;
}
.contenedor-temp h2{
    margin-left: 30px;
}